@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    #recaptcha {
        transform: scale(0.65);
        -webkit-transform: scale(0.65);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}